{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Carnivore Conservation Genomics</title>
  <link rel="stylesheet" href="{% static 'inference/style.css' %}">
</head>
<body>
  <header>
    <div class="header-content">
      <h1>Carnivore Conservation Genomics</h1>
      <p class="subtitle">A conservation research project by PUCRS's genomics lab</p>
    </div>
  </header>

  <main>
    <section class="intro">
      <h2>Help us protect our wildlife using genetic data</h2>
        <p>This platform aims to connect conservation efforts for carnivore species in South and Central America.</p>
          <ul>
            <li>Create a common database of genetic data, both full sequence and SNPs</li>
            <li>Facilitate the creation of standardized SNP panels for geographic assignment</li>
            <li>Make available SNP based tools for geographic assignment of samples</li>
          </ul>
        <p>Your contributions support ongoing research and conservation efforts. Please select a species below to get started.</p>
        <div class="center-button">
        <a class="cta-button" href="{% url 'jaguar_tools' %}">Panthera onca (Jaguar)</a>
        </div>      
    </section>
  </main>

  <footer>
    <p>© 2025 PUCRS — Laboratório de Biologia Genômica e Molecular</p>
  </footer>
</body>
</html>
